#include "resource.h"

IDR_DEFAULT_CONFIG    RCDATA    "Default_JSON_theme_windows_RC\\Default_BinaryFetch_Config.json"
IDR_DEFAULT_ASCII     RCDATA    "Default_ASCIIArt_windows_RC\\DefaultAsciiArt.txt"

// Ensure there is an empty line right here!